<footer class="">
      <div class="footer-contenedor">
          <div class="footer-seccion footer-seccion-logo">
              <img src="/recursos/logo3-rem.png" alt="JRBlog">
              <p class="text-center"> JOSÉ R. MARCANO</p>
          </div>
          <div class="footer-seccion">
              <h3>Conóceme</h3>
              <ul>
                  <li><a href="/html/sobre-mi.html">Sobre mí</a></li>
                  <li><a href="/html/ebooks.html">Mis ebooks</a></li>
              </ul>
          </div>
          <div class="footer-seccion">
              <h3>Contacto</h3>
              <ul>
                  <li><a href="/html/contacto.html">Contacto</a></li>
                  <li><a href="mailto:info@jrblog33@gmail.com">jrblog33@gmail.com</a></li>
              </ul>
          </div>
          <div class="footer-seccion">
              <h3>Información</h3>
              <ul>
                  <li><a href="/html/aviso-legal.html">Aviso legal</a></li>
                  <li><a href="/html/politica.html">Política de privacidad y cookies</a></li>
              </ul>
          </div>
      </div>

      <div class="footer-copyright">
        <p>Copyright © JRBlog de José R. Marcano</p>
    </div>
      
  </footer>
  


