
    <header>
      <!--HEADER PARA LAPTOP/DESKTOP ETC-->
        
        <div class="header-lg d-none d-md-grid d-lg-grid">
          
            <div class="w-100 d-flex justify-content-center align-items-center position-relative">
              <a href="/index.html">
                  <div class="header-lg-contenedor-logo position-absolute translate-middle">
                      <img src="/recursos/logo.png" alt="" class="img-fluid">     
                  </div>
              </a>
            </div>

          
              <nav class="nav-lg w-100" style="margin-top: 1rem;">
                <div class="container">
                    <ul class="ul-lg d-flex justify-content-between text-uppercase text-white w-100">
                      <div class="padre-dropdown">      
                        <li class="drop">
                          <div class="li-lg-div">Décimas por tema
                          </div>
                        <div class="down pt-2">
                          <ul class="small">
                            <a href="/html/decimasDeHistoria.html">
                              
                              <li class="nav-item">

                              <i class="fas fa-caret-right"></i>
                              DÉCIMAS DE HISTORIA
                              
                              </li>
                            </a>

                            <a href="/html/decimasDeAmor.html">
                              
                              <li class="nav-item"> 
                              <i class="fas fa-caret-right"></i> DÉCIMAS DE AMOR
                              </li>
                            </a>
                          
                          </ul>
                        </div>
                        </li>
                      </div>

                        <a href="/html/relatos.html">
                          
                          <li class="li-lg">Relatos</li>
                        </a>

                       <a href="/html/ebooks.html">
                         
                        <li class="li-lg">Mis Ebooks</li>
                       </a> 

                        <a href="/html/sobre-mi.html">
                          
                          <li class="li-lg">Sobre mi</li>
                        </a>
                        
                        <a href="/html/contacto.html">
                          
                          <li class="li-lg">Contacto </li>
                        </a>
                        
                        <a href="/html/galeria.html">
                          
                          <li class="li-lg">Galería</li>
                        </a>
                        
                        <li class="li-lg">
                            <i class="fas fa-search"></i>
                        </li> <!-- Si lo toca expande un input search-->

                        
                    </ul>
                </div>
              </nav>


        </div>


        <!--HEADER PARA TABLETS/SMALL-DEVICES-->
        <div class="header-sm d-md-none d-lg-none">
            <section class="navbar navbar-light">
              <div class="container-fluid">
              <a class="navbar-brand" href="/index.html">
                  <div class="log d-flex">
                      <img class="img-fluid " src="/recursos/logo3-rem.png" alt="" >
                  </div>            
               
               </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"> </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <li class="nav-item">
                  <span class="nav-link text-white decimas" aria-current="page" >DÉCIMAS POR TEMAS</span>
                  
                  
                  <!-- menú colapsado-->
                </li>
                
                
               <div class="decimas-container ">

                      <ul>

                        <a class="nav-link text-white" href="/html/decimasDeHistoria.html" ><li>Décimas de historia</li> </a>
                        
                        <a class="nav-link text-white" href="/html/decimasDeAmor.html" ><li>Décimas de amor</li> </a>
                    
                      </ul>
               </div>
                
                
                <li class="nav-item">
                  <a class="nav-link text-white" href="/html/relatos.html">RELATOS</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-white" href="/html/ebooks.html">MIS EBOOKS</a>
                </li>


                <li class="nav-item">
                  <a class="nav-link text-white" href="/html/sobre-mi.html">SOBRE MI</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-white" href="/html/contacto.html">CONTACTO</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link text-white" href="/html/galeria.html">GALERIA</a>
                </li>
                
              </ul>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </div>
      </section>

          
        </div>
              
    </header>

    